@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply mx-auto p-[1.5rem] w-full max-w-[140rem] lg:max-w-[90rem];
}
.banner button {
@apply sm:hidden
}
.banner .tns-nav{
    @apply absolute right-3 top-[45%] z-40 flex flex-col lg:top-[50%] lg:right-[20rem];
}
.tns-controls{
    @apply absolute top-[50%] right-0 left-0 mx-[2rem] flex items-center justify-between max-w-[106rem] z-10;
}
.tns-controls button{
    @apply flex items-center;
}
.tns-controls button:first-child{
    @apply  text-gray-500 transition-all hover:-translate-x-1 hover:text-primary;
}
.tns-controls button:last-child{
    @apply  text-gray-500 transition-all hover:translate-x-1 hover:text-primary;
}
.tns-controls button:first-child::after{
    @apply block bg-gray-500 w-[2rem] h-[.11rem] content-[""] hover:translate-x-2 hover:bg-primary transition-all;
}
.tns-controls button:last-child::before{
    @apply block bg-gray-500 w-[2rem] h-[.11rem] content-[""] hover:-translate-x-2 hover:bg-primary transition-all;
}
.tns-nav button{
    @apply bg-gray-400 h-[1rem] w-[1rem] my-1 mx-1 transition-all sm:hidden;
}
.tns-nav .tns-nav-active{
    @apply bg-primary transition-all;
}
.instructor .tns-controls{
    @apply absolute top-[20%] left-[80%] right-[15%] mx-auto
}

.instructor .tns-controls button{
    @apply hover:bg-dark hover:text-light min-w-[3rem] bg-primary rounded-full px-[1rem] py-[.5rem] text-light text-[1.5rem]
}
.testimonial .tns-outer {
	@apply mx-[2rem];
}

.feature .tns-controls button {
	@apply bg-primary text-light py-[.5rem] px-[.8rem] rounded-full;
}

.feature .tns-controls {
	@apply absolute top-[50%] right-0 left-0 mx-auto flex items-center justify-between max-w-[55rem] z-10;
}
.testimonial .tns-controls button {
	@apply bg-primary text-light py-[.5rem] px-[.8rem] rounded-full;
}

.testimonial .tns-controls {
	@apply absolute bottom-[1rem] left-[62rem] right-[51rem] mx-auto flex items-center justify-between max-w-[55rem] z-10;
}

@layer utilities{
    .btn{
        @apply inline-block py-[.8rem] px-[1.5rem] border-transparent
    }

    .green{
        @apply text-[1.2rem] bg-primary rounded-[.3rem] hover:bg-dark transition ease-in-out duration-300 font-[600]
    }

    .shallow-green{
        @apply text-[1.2rem] bg-transparent rounded-[.3rem] border-[1px] border-primary hover:bg-primary transition ease-in-out duration-300 font-[600]
    }
    .shallow-white{
        @apply text-[1.2rem] bg-transparent border-[1px] border-grey rounded-[.3rem] text-dark hover:text-light hover:bg-primary hover:border-primary transition ease-in-out duration-300
    }
}

@layer components{
    .logo{
        @apply p-[1.4rem] bg-light relative lg:hidden
    }
    .logo__img img{
        @apply mx-auto 
    }

    .admin{
        @apply bg-primary sm:hidden lg:flex 
    }
    .admin__wrapper{
        @apply flex gap-[6rem] text-light font-semibold
    }
    .admin__text{
        @apply flex gap-[2rem]
    }
    .admin__number{
        @apply cursor-pointer
    }
    .admin__icon {
        @apply mx-auto
    }
    .admin__icon ul{
        @apply flex gap-[2rem] 
    }
    .admin__icon li{
        @apply hover:text-dark
    }
    .admin__contact{
        @apply flex
    }
    .admin__contact ul{
        @apply flex gap-[1rem]
    }
    .admin__contact a {
        @apply gap-[2rem] 
    }

     /** ---------- MOBILE HEADER ---------- */

     .header-mob{
        @apply lg:hidden
    }

    .branding{
        @apply bg-light flex justify-center py-[1rem]
    }

    .header-mob__wrapper{
        @apply relative bg-primary
    }

    .header-mob__content{
        @apply flex items-center justify-between
    }

    .header-mob__text{
        @apply text-light text-[1.2rem] font-[600]
    }

    .header__nav{
        @apply max-h-0 overflow-hidden bg-light lg:bg-transparent absolute flex flex-col  left-0 w-[100%] top-[9rem] text-center lg:relative lg:overflow-visible lg:h-[100%] lg:flex-row-reverse lg:items-center lg:justify-between lg:w-full lg:max-w-[70rem] lg:mx-auto lg:left-0  transition-[.5s] z-[999] ;
    }-[0]
    .header__nav ul{
        @apply lg:flex transition-all ;
    }
    .header__nav ul li{
        @apply  my-1 lg:my-0 lg:border-t-4 lg:border-transparent lg:hover:border-primary transition-all;
    }
    .header__nav ul li a{
        @apply text-[.9rem] lg:text-white  transition-all border-b-2 border-gray-400;
    }
    
    .header__nav ul li a{
        @apply lg:hover:bg-slate-600;
    }
    .header__nav ul li:hover .dropdown{
        @apply lg:overflow-visible lg:top-[3.8rem] lg:max-h-[40rem] opacity-100 transition-all;
    }
    .header__nav ul li:first-child{
        @apply lg:border-primary;
    }
    .header__nav ul li a{
        @apply flex items-center justify-between p-3;
    }
    .header__nav ul li a i{
        @apply lg:hidden;
    }
      .header__nav i{
        @apply transition ease-linear duration-300;
    }
    

    .header__nav.open{
        @apply duration-500 top-[12rem] max-h-fit left-0 transition-all lg:top-0;
    }
    .dropdown{
        @apply max-h-0 bg-white overflow-hidden transition-all lg:absolute lg:top-[6rem] lg:overflow-hidden lg:opacity-0 lg:max-h-0 lg:text-dark lg:flex duration-500 z-[999];
    }
    .dropdown ul{
        @apply flex-col m-3;
    }
    .dropdown ul li a{
        @apply h-[1rem] lg:text-dark lg:hover:bg-transparent lg:translate-x-1 lg:hover:translate-x-0 lg:hover:text-dark lg:border-transparent lg:border-l-4 lg:hover:border-primary;
    }
    .dropdown.open{
        @apply max-h-full transition-all lg:hidden;
    }
    .header__nav__icons{
        @apply  p-5 border-b-2 w-full mb-5 lg:flex lg:p-0 lg:mb-0 lg:border-0 lg:gap-3 lg:mr-5 lg:w-[unset];
    }
    .header__nav__icons a{
        @apply text-[1.5rem] hover:text-primary lg:text-white transition-all duration-500 mx-1;
    }

    .toggle__menu.open span{
        @apply z-10 bg-light
    }

    .toggle__menu span{
        @apply w-[1.5rem] h-[.15rem] bg-light block transition ease-in-out duration-500
    }

    .toggle__menu span:nth-child(2){
        @apply my-[.3rem]
    }

    .toggle__menu.open span:first-child{
        @apply translate-y-[5px] rotate-[-230deg] transition ease-in-out duration-500;
    }

    .toggle__menu.open span:nth-child(2){
        @apply opacity-0 transition ease-in-out duration-500;
    }

    .toggle__menu.open span:last-child{
        @apply translate-y-[-9px] rotate-[230deg] transition ease-in-out duration-500;
    }


    /** ---------- DESKTOP HEADER ---------- */

    .header{
        @apply hidden lg:block
    }


    .header2{
        @apply z-[999] fixed bg-pink-400 p-[.5rem] max-w-[75%] left-[13%] top-[7rem] rounded-[.5rem]
    }

    .header2 .container{
        @apply py-[2rem]
    }

    .header2__wrapper{
        @apply grid grid-cols-[2fr_2fr_1fr] gap-x-[1rem] items-center
    }

    .header2__nav{
        @apply relative text-light
    }

    .header2__nav ul{
        @apply flex gap-x-[1.5rem]
    }

    .header2__nav ul li a{
        @apply py-[2rem]
    }

    .header2__nav ul li ul{
        @apply bg-primary flex flex-col gap-x-[1rem] absolute lg:hidden top-[3rem] opacity-0
    }

    .header2__nav ul li:hover ul{
        @apply max-h-fit p-[1rem] w-[15rem] block opacity-100
    }

    .header2__nav ul li ul li:not(:first-child){
        @apply mt-[1rem]
    }

    .header2__nav ul li ul li ul{
        @apply absolute top-[0] right-[-15rem] opacity-0
    }

    .header2__nav ul li:hover ul li ul{
        @apply max-h-fit p-[1rem] w-[15rem] opacity-100
    }

    .header2__btn{
        @apply text-light ml-[2rem]
    }


    .banner{
        @apply relative
    }
    .slider__item_1{
        @apply bg-bg__banner bg-cover bg-no-repeat bg-fixed h-[75vh] lg:h-[70vh] bg-center w-[30rem] lg:w-[100vw]
    }
    .slider__item_2{
        @apply bg-bg__banner bg-cover bg-no-repeat bg-fixed h-[75vh] lg:h-[70vh] bg-center w-[30rem] lg:w-[100vw]
    }
    .slider__item_1 img{
        @apply sm:hidden lg:flex
    }
    .slider__item_2 img{
        @apply sm:hidden lg:flex
    }
    .slider__text{
        @apply text-light text-center pt-[10rem]  font-semibold
    }
    .slider__text h1{
        @apply text-[2rem] mx-auto w-[23rem]
    }
    .slider__text P{
        @apply text-[1.2rem] mx-auto w-[25rem]
    }
    .discover__btn{
        @apply  mt-[4rem] font-semibold flex gap-[2rem] justify-center;
    }
    .discover__btn a:first-child{
        @apply text-center text-light bg-primary border-[2px] border-primary px-[2rem] py-[1rem] w-[11rem] h-[4rem] ;
    }
    .discover__btn a:first-child:hover{
        @apply border-dark bg-dark text-light transition-all duration-500;
    }
    .discover__btn a:last-child{
        @apply   text-primary px-[1.7rem] py-[.8rem] bg-transparent border-[2px] border-primary w-[11rem] h-[4rem];
    }
    .discover__btn a:last-child:hover{
        @apply bg-primary text-light border-primary transition-all duration-500;
    }



    /** ---------- FEATURE---------- */
    .feature{
        @apply p-[1rem]
    }

    .feature__wrapper{
        @apply flex gap-x-[1rem]
    }

    .feature__card{
        @apply flex rounded-[1rem] bg-light border-[2px] border-lgreen w-fit hover:shadow-[0px_0px_50px_0px_rgba(0,0,0,.09)] mb-[1rem] mx-[.4rem] max-w-[30rem] min-h-[18rem] transition ease-in-out duration-300
    }

    .feature__content{
        @apply flex flex-col items-center text-center justify-center min-h-[18rem]
    }

    .feature__content img{
        @apply mb-[1rem]
    }

    .feature__text a{
        @apply text-[1.5rem] font-[600] text-dark hover:text-primary transition ease-in-out duration-300
    }

    .feature__text p{
        @apply text-[1.1rem] font-[500] text-primary cursor-default
    }
    /** ---------- INSTRUCTOR BANNER ---------- */

    .instructor{
        @apply relative py-[1rem]
    }

    .instructor__title{
        @apply font-[700] text-[1.6rem] text-primary pb-[2rem] lg:text-[1rem]
    }

    .instructor__title h4{
        @apply text-dark w-[17rem] lg:text-[3rem] lg:w-[30rem]
    }

    .instructor__wrapper{
        @apply flex gap-x-[2rem]
    }

    .instructor__card{
        @apply text-center bg-light border-[2px] border-lgreen rounded-[.5rem] py-[3rem] shadow-[0px_5px_4px_0px_rgba(0,0,0,.05)] overflow-hidden mb-[.5rem] px-[.5rem]
    }

    .instructor__card:hover{
        @apply  border-light transition ease-in-out duration-300
    }

    .instructor__card:hover .instructor__social:before{
        @apply w-[100%] bg-primary transition-all duration-300
    }

    .instructor__content{
        @apply mb-[1rem] flex flex-col items-center
    }

    .instructor__content h3{
        @apply text-[1.5rem] font-[600] text-dark pt-[.5rem]
    }

    .instructor__content p{
        @apply text-[1.1rem] text-grey
    }

    .instructor__social{
        @apply relative flex justify-center
    }

    .instructor__social:before{
        @apply absolute content-[''] bg-[#ddd] top-0 h-[1px] w-[25%] m-auto transition-all duration-300
    }

    .instructor__social ul{
        @apply flex pt-[1.5rem]
    }

    .instructor__social ul li:nth-child(2){
        @apply mx-[.5rem]
    }

    .instructor__social ul li:first-child a{
        @apply px-[.8rem]
    }

    .instructor__social ul li a{
        @apply bg-lgreen px-[.7rem] py-[.5rem] text-primary text-[1rem] rounded-[.2rem]
    }

    .instructor__social ul li a:hover{
        @apply text-light bg-primary transition ease-in-out duration-300
    }


        /** ---------- PROGRAM BANNER ---------- */

        .news__title{
            @apply font-[700] text-[1.6rem] text-primary pb-[2rem]
        }
    
        .news__title h4{
            @apply text-dark w-[25rem]
        }
    
        .news__card{
            @apply bg-light shadow-[0px_0px_50px_0px_rgba(0,0,0,.09)]
        }
    
        .news__content{
            @apply px-[.5rem] py-[1rem]
        }
    
        .news__content a{
            @apply text-[1.3rem] font-[600]
        }
    
        .news__content ul{
            @apply flex items-center mt-[1rem] mb-[2rem]
        }
    
        .news__content ul li{
            @apply text-[1.2rem] font-[400] mr-[1rem] text-primary
        }
    
        .news__content ul li i{
            @apply mr-[.5rem]
        }
    
        .news__content ul li a{
            @apply text-[1.2rem] font-[400]
        }
    
        /*-----------------------middle-footer----------------------*/
.footer__middle {
    @apply bg-lblue
}
.description__area img{
    @apply mx-auto mt-[6rem] lg:pt-[1.8rem] bg-lblue
}
.description__area p{
    @apply pb-[1rem] text-[1.2rem] 
}
.middle__row{
    @apply text-center text-white
    lg:grid lg:grid-cols-4
}
.social-icons i{
    @apply border-[1px] border-white p-[.5rem] rounded hover:bg-primary transition-all
}
.nav_menu1 h2{
    @apply text-[1.5rem] font-bold pt-[2rem] pb-[1.5rem]
}
.menu__container ul li a{
    @apply text-[1.2rem]
}
.menu__container ul li {
    @apply pb-[1rem] hover:text-primary transition-all
}
.custom__html h2{
    @apply text-[1.5rem] pt-[1.5rem] pb-[1rem]
    lg:pt-[2rem]
}
.witr_sub_table{
    @apply flex justify-between text-[1.2rem] pb-[8px] border-b-[1px] mb-[8px]
}

/*-----------------------footer----------------------*/
.footer-bottom{
    @apply relative bg-lblue text-white pt-[3rem]
}
.copy-right-text{
    @apply flex justify-center pb-[1rem] pt-[1rem] text-[1rem]
}
.text-right{
    @apply flex justify-center  gap-[1rem] 
    
}
.text-right li{
    @apply  hover:text-primary transition-all text-[1rem]
}
.row{
    @apply border-t-[1px]
lg:flex lg:justify-between lg:items-center
}
/*-----------------------PROGRAM----------------------*/
.prog{
    @apply my-[3rem]
}
.prog__title{
    @apply text-center font-bold lg:m-auto lg:w-[40rem]
}
.prog__title h2{
    @apply text-primary text-[1.5rem] lg:text-[1rem]
}
.prog__title h3{
    @apply text-dark text-[1.6rem] lg:text-[2.5rem]
}
.prog__group{
    @apply lg:grid lg:grid-cols-4 gap-[2rem]
}
.prog__card{
    @apply mt-[2rem] py-[3.5rem] bg-light border-[2px] rounded-[.5rem] border-green-200 drop-shadow-xl 
}
/* .prog__card:not(:first-child){
    @apply mt-[1.5rem]
} */
.prog__card:hover{
    @apply border-light 
}
.prog__content{
    @apply flex flex-col items-center 
}
.prog__content a{
    @apply text-[1.5rem] text-dark hover:text-primary font-[600] my-[.5rem] transition ease-in-out duration-300 
}

.prog__content p{
    @apply text-[1.1rem] text-grey
}
/*-----------------------Testimonial----------------------*/
.testimonial{
    @apply relative py-[2rem];
}

.testimonial-text{
    @apply mt-[2rem];
}
.testimonial-text h4{
    @apply text-primary text-center text-[1.7rem] font-bold;
}
.testimonial-text h2{
    @apply text-dark text-center text-[1.6rem] font-bold;
}
.testimonial-item ul{
    @apply flex gap-[.3rem] text-primary mb-[1rem];
}
.testimonial-item ul li{
    @apply text-[1.2rem];
}
.testimonial-item p{
    @apply text-[1.4rem] text-gray-500 font-medium;
}
.testimonial-name{
    @apply flex items-center gap-[.8rem] mt-[1rem];
}
.testimonial-name img{
    @apply w-[3.5rem]
}
.testimonial-position h3{
    @apply text-dark text-[1.1rem] font-bold;
}
.testimonial-position p{
    @apply text-primary text-[.9rem]
}
.testimonial-slider{
    @apply mt-[2rem]
}

@media (min-width:1080px){
    .testomonial__wrapper{
        @apply grid grid-cols-2;
    }
    .testimonial-img img{
        @apply w-[30rem];
    }
    .testimonial-text{
        @apply mt-0;
    }
    .testimonial-text h4{
        @apply text-[1rem];
    }
    .testimonial-text h2{
        @apply text-[2.7rem] leading-[1.2] w-[35rem] mx-auto;
    }
}



/*-----------------------chevron Scroll----------------------*/
#myBtn{
    @apply fixed flex-none bottom-[75px] right-[25px] z-[99] text-[1rem] border-none bg-primary text-light cursor-pointer p-[10px] border-r-[4px] 
}
#myBtn i{
    @apply text-[1rem] text-center
}
#myBtn:hover{
    @apply  transition-all duration-300
}
html {
    scroll-behavior: smooth
  }
}